*{
    margin: 0;
    padding: 0;
}

:root{
    font-family: 'Anton', sans-serif;
    --light-color: #f9fafb;
    --medium-color: #e5e7eb;
    --dark-color: #9ca3af;
}

.container{
    min-height: 100vh;
    display: grid;
    grid-template-rows: 100px 1fr 50px;
}

.header{
    background-color: var(--light-color);
    font-size: 28px;
    padding-left: 100px;

    display: grid;
    align-items: center;
}

.main-content, .footer{
    background-color: var(--medium-color);
}

.main-content{
    display: grid;
    grid-template-rows: 50px 1fr;
    row-gap: 20px;
    padding: 20px 50px 0px 50px;
    
    align-items: start;
    
}

.footer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.footer-text{
    font-size: 12px;
}
.library{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 250px;
    column-gap: 36px;
    row-gap: 18px;
}

.book{
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    row-gap: 12px;
    justify-items: center;

    background-color: var(--light-color);
    border-radius: 12px;
    box-shadow: 1px 1px 3px var(--dark-color);
    border-left: 2px solid darkcyan;

    padding: 16px;
    font-size: 18px;
}

.book-button{
    height: 50px;
    width: 120px;
    margin: auto;
    font-family: 'Anton', sans-serif;
    font-size: 16px;
    border-radius: 12px;
    border: none;
    background-color: var(--light-color);
}

.book-button:hover{
   background-color: cyan;
   box-shadow: 1px 1px 3px darkcyan;
   height: 55px;
   width: 130px;
}

#new-book-dialog{
    margin: auto;
    padding: 12px 24px;
    box-sizing: border-box;
    width: 350px;
    height: 350px;
    border-radius: 12px;
}

#new-book-dialog p{
    text-align: center;
}

form{
    display: grid;
    grid-auto-rows: 1fr;
    gap: 12px;
}

input{
    font-size: 16px;
    padding-left: 6px;
}

.readContainer{
    margin: auto;
}

#confirm-button{
    font-family: 'Anton', sans-serif;
    font-size: 16px;
    border-radius: 12px;
    border: none;
    background-color: var(--medium-color);
}

.book button{
    font-size: 16px;
    font-family: 'Anton', sans-serif;
    width: 150px;
    border-radius: 12px;
    border: none;
    background-color: var(--medium-color);
}

#confirm-button:hover, .book button:hover{
    background-color: cyan;
    box-shadow: 1px 1px 3px darkcyan;
}


